* {
  font-size: 16px;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.main {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f8fd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.menu-item a {
  color: hsl(243, 87%, 12%);
  font-family: "Raleway";
}

.logo img {
  width: 60%;
  padding: 0.5rem;
}

.hero-image {
  display: block;
  width: 450px;
  padding: 5rem 0;
  margin: auto;
}

.title {
  margin: auto;
  text-align: center;
  width: 70%;
  font-size: 25px;
}

.description {
  margin: 40px;
  font-size: 20px;
  line-height: 1.5;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: auto;
  gap: 1rem;
  flex-direction: column;
}

.button-get-started {
  background-color: hsl(224, 93%, 58%);
  color: white;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
}

.email {
  color: hsl(0, 0%, 75%);
  border: 1px solid black;
  padding: 25px;
  border-radius: 5px;
  width: 100%;
  height: 15px;
}

.fylo-works-button {
  color: hsl(170, 45%, 43%);
  border: 0px;
  background-color: #f9f8fd;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  text-align: center;
  padding: 15px;
}

link-button {
}

.arrow {
  width: 30px;
}

.card {
  display: flex;
  justify-content: center;
  width: 450px;
  margin: auto;
  gap: 1rem;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 125px;
}

.information {
  border-radius: 5px;
  line-height: 1.5;
  padding-bottom: 15px;
}

.avatar {
  height: 40px;
  border-radius: 50%;
}

.image-author {
  display: flex;
  width: 100%;
}

.author {
  margin-left: 10px;
}

.name {
  font-weight: 600;
}

.job {
  color: #444258;
  font-size: 12px;
  font-weight: 600;
}
.icon-quotes {
  width: 20px;
}

.early-access {
  background-color: #575989;
  color: white;
  padding: 80px 50px 120px;
}

.fylo-logo {
  width: 200px;
  padding: 10px;
}
